```javascript

const {PluginEntity} = require('@pigalle/entities.plugins')

class CustomPlugin extends PluginEntity {

  constructor (...args) {
    super(...args)
  }

  run() {
    return Promise.revolve(true)
  }

}

```
