```javascript

const {PigallePluginBaseClass} = require('@pigalle/core.plugins.base.class')

class CustomPlugin extends PigallePluginBaseClass {

  constructor (...args) {
    super(...args)
  }

  run() {
    return Promise.revolve(true)
  }

}


```
